<div class="container-fluid" style="margin-top: 10%;">
    <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <div class="card-box" style="background-color: #ccc;">
                <form>
                    <div class="row" style="display: block;">
                        <h2 style="text-align: center;">
                            login
                        </h2>
                    </div>
                    <div class="row">
                        <div class="offset-lg-3 col-lg-6">

                            <div class="from-group"> 
                                <label>User Name:</label>
                                <input type="text"  id="txtName" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="offset-lg-3 col-lg-6">

                            <div class="from-group"> 
                                <label>Password:</label>
                                <input type="text"  id="txtPass" class="form-control">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="offset-lg-3 col-lg-2">
<br>
                            <div class="from-group" style="text-align:center;"> 
                             
                           <button type="submit" class="btn btn-primary btn-lg btn-block">login</button>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-3">
<br>
                           <span></span>
                            </div>
                        </div>
                 
                </form>
            </div>
        </div>

    </div>
